body {
  font-family: 'Noto Sans Thai', sans-serif;
  background-image: url(./img/abstract-background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.main-profile {
  background-color: #9bccdb;
}

.main-profile .profile-img {
  width: 100%;
  margin: 0 auto;
  border-radius: 50rem;
  overflow: hidden;
  padding-top: calc( 100% - 4px);
  position: relative;
  border: 2px solid white;
}

.main-profile .profile-img .profile-img-inner {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.main-profile .profile-img .profile-img-inner img {
  width: 100%;
}

.main-about-me {
  background-color: #fff;
}

.work-exp-list {
  list-style: none;
  padding-left: 3rem;
}

.work-exp-list li {
  position: relative;
}

.work-exp-list li:not(:last-child)::before {
  content: "";
  position: absolute;
  left: -1.5rem;
  top: 10%;
  width: 1px;
  height: 100%;
  background-color: rgba(0,0,0,.25)!important;
}

.work-exp-list li::after {
  content: "";
  position: absolute;
  left: -2.25rem;
  top: 0%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  border-radius: 50rem;
  border: 1px solid #9bccdb;
}