body {
  font-family: 'Noto Sans Thai', sans-serif;
  background-image: url(./img/abstract-background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.main-profile {
  background-color: #9bccdb;
}

.main-profile .profile-img {
  width: 100%;
  margin: 0 auto;
  border-radius: 50rem;
  overflow: hidden;
  padding-top: calc( 100% - 4px);
  position: relative;
  border: 2px solid white;
}

.main-profile .profile-img .profile-img-inner {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.main-profile .profile-img .profile-img-inner img {
  width: 100%;
}

.main-sec1 {
  background-color: #fff;
}

.main-work-exp {
  position: relative;
}

.work-exp-list {
  list-style: none;
  padding-left: 3rem;
}

.work-exp-list li {
  position: relative;
}

.work-exp-list li:not(:last-child)::before {
  content: "";
  position: absolute;
  left: -1.5rem;
  top: 10%;
  width: 1px;
  height: 100%;
  background-color: rgba(0,0,0,.25)!important;
}

.work-exp-list li::after {
  content: "";
  position: absolute;
  left: -2.25rem;
  top: 0%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  border-radius: 50rem;
  border: 1px solid #9bccdb;
}

.dev-anim {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .dev-anim {
    position: absolute;
    right: 0%;
    top: 15%;
    width: 50%;
  }
}

.skills-item img {
  width: 1.5rem;
  margin-right: .5rem;
}

.anim-list {
  list-style: none;
}

.anim-list .anim-list-item {
  position: relative;
  padding-left: 1.5rem;
}

.anim-list .anim-list-item .dot {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  display: block;
  left: -.5rem;
  top: 0rem;
}

.main-sec2 {
  background-color: #C629E3;
}

.main-activities {
  position: relative;
}

.main-activities .dog-anim {
  width: 50%;
  margin: 0 auto;
}

@media only screen and (min-width: 1200px) {
  .main-activities .dog-anim  {
    position: absolute;
    bottom: 0%;
    right: 0;
    width: 40%;
  }
}

.main-ref-person {
  border-top: 4px solid #C629E3;
  border-bottom: 4px solid #9bccdb;

  /* background-image: url(./img/wb_bg.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% ; */
}