body {
  font-family: 'Noto Sans Thai', sans-serif;
}

.main-profile {
  background-color: #80cbc4;
}

.main-profile .profile-img {
  width: 100%;
  margin: 0 auto;
  border-radius: 50rem;
  overflow: hidden;
  padding-top: calc( 100% - 8px);
  position: relative;
  border: 4px solid white;
}

.main-profile .profile-img .profile-img-inner {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.main-profile .profile-img .profile-img-inner img {
  width: 100%;
}